.form
    padding: 15px

.inputWrapper
    display: flex
    position: relative
    margin-bottom: 15px

.col
    width: 25%

.contacts
    width: 100%

    .label
        width: 8%
        display: inline-block
        min-width: 80px

    input
        margin: 15px 0

input,
select
    max-width: 600px

button
    margin-left: auto
    display: block