@import ../../styles/colors
    
.wrapper
    display: grid
    grid-template: 'sidebar content'
    grid-template-columns: 200px 1fr

.sidebar
    grid-area: sidebar
    background-color: $cl-nero
    height: calc(100vh - 50px)
    color: white

.content
    grid-area: content
    min-height: calc(100vh - 50px)
    background-color: $cl-whiteSmoke

.infoBlock
    padding: 20px

    &:not(:last-child)
        border-bottom: 1px solid $cl-nightRider
        
.mainPhoto
    width: 110px
    height: 110px
    border-radius: 50%
    overflow: hidden
    margin: auto
    margin-bottom: 5px

.name
    text-align: center
    font-size: 24px

.blockHeading
    font-size: 14px
    color: $cl-java
    margin-bottom: 14px